@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.retro-font{
    font-family: 'Rajdhani', sans-serif;
}

body{
    background-image: url(Assets/lounge.avif);
    height: 500px; 
    
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 200px;
    font-display: center;
    font-weight: 300;
    background: -webkit-linear-gradient(rgb(247, 36, 180), rgb(77, 187, 246), rgb(154, 253, 47));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  
 /* Navbar styling */
 #navbar-placeholder {
    font-family: 'Rajdhani', sans-serif;
    color: aliceblue;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* Footer styling */
#footer-placeholder {
    font-family: 'Rajdhani', sans-serif;
    font-size: medium;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: -100;
    width: 100%;
}






