{% extends "main_layout.html" %}

{% block head_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_account.css') }}">

{% endblock %}

{% block body_content%}

<h1>Welcome to your Account {{ first_name }}!</h1>

<section class="bg-image" style="padding-top: 80px; padding-bottom: 80px;">
   <div class="mask d-flex align-items-center h-100 gradient-custom-3">
     <div class="container h-100">
       <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-9 col-lg-7 col-xl-6">
           <div class="card_account bg-dark text-white">
             <div class="card-body p-5">
   
               <form style="display: flex; flex-direction: column; align-items: flex-start;">
   
                 <div class="form-outline mb-4">
                  <p>Email: {{ email }}</p>
                 </div>
 
                 <div class="form-outline mb-4">
                  <p>Password: {{ password }}</p>
                 </div>
               
                 <div class="form-outline mb-4">
                  <p>First Name: {{ first_name }}</p>
                 </div>                       
 
                 <div class="form-outline mb-4">
                  <p>Last Name: {{ last_name }}</p>
                 </div>
 
                 <div class="form-outline mb-4">
                  <p>Date of Birth: {{ dob }}</p>
                 </div>      
                 
                 <div class="account_maintenance"  style="align-self: center;">
                  <a class="btn btn-outline-info btn-md px-5 mt-3" href="{{ url_for('logout') }}" role="button" type="submit" >Log Out</a>
                  <a class="btn btn-outline-info btn-md px-5 mt-3" href="{{ url_for('logout') }}" role="button" type="submit" >Delete Account</a>
                </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

<script src="{{ url_for('static', filename='/scripts/account.js') }}"></script>
   
{% endblock %}