{% extends "main_layout.html" %}

{% block head_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_account.css') }}">

{% endblock %}

{% block body_content%}


<h1>{{ user.first_name }}'s account </h1>

<section class="bg-image" style="padding-top: 80px; padding-bottom: 80px;">
   <div class="mask d-flex align-items-center h-100 gradient-custom-3">
     <div class="container h-100">
       <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-9 col-lg-7 col-xl-6">
           <div class="card_account bg-dark text-white">
             <div class="card-body p-5">
   
              <form method="post" action="">

                <div class="form-outline mb-4">
                    <p>Email: <span id="email">{{ user.email_address }}</span></p>
                    <label class="edit-button" data-field="email"><u>Edit</u></label>
                </div>
 
                <div class="form-outline mb-4">
                  <p>Password: <span id="password">{{ user.password }}</span></p>
                  <label class="edit-button" data-field="password"><u>Edit</u></label>
                </div>
               
                <div class="form-outline mb-4">
                  <p>Fist Name: <span id="first_name">{{ user.first_name }}</span></p>
                  <label class="edit-button" data-field="name"><u>Edit</u></label>
                </div>
 
                <div class="form-outline mb-4">
                  <p>Last Name: <span id="last_name">{{ user.last_name }}</span></p>
                  <label class="edit-button" data-field="name"><u>Edit</u></label>
                </div>

                <div class="form-outline mb-4">
                  <p>Date of Birth: <span id="dob">{{ user.dob }}</span></p>
                  <label class="edit-button" data-field="date_of_birth"><u>Edit</u></label>
                </div>
                 
                <div class="form-outline mb-4">
                  <p>Mail Recipient: <span id="mailing">{{ user.mailing }}</span></p>
                  <label class="edit-button" data-field="mailing"><u>Edit</u></label>
                </div>
               
                <div class="form-outline mb-4">
                  <p>PIN: <span id="pin">{{ user.pin }}</span></p>
                  <label class="edit-button" data-field="pin"><u>Edit</u></label>
                </div>                  
 
                <div class="form-outline mb-4">
                  <p>Subcription: <span id="subscription">{{ user.subscription }}</span></p>
                  <label class="edit-button" data-field="subscription"><u>Edit</u></label>
                </div>

                <div class="form-outline mb-4">
                  <p>Card Details: <span id="cards">{{ user.cards }}</span></p>
                  <label class="edit-button" data-field="card_details"><u>Edit</u></label>
                </div>

                <div class="form-outline mb-4">
                  <p>Start Date: <span id="creation_date">{{ user.creation_date }}</span></p>
                </div>
 
                <div class="form-outline mb-4">
                  <p>Last Logged In: <span id="last_login">{{ user.last_login }}</span></p>
                </div>
  
                 <div class="account_maintenance"  style="align-self: center;">
                  <a class="btn btn-outline-info btn-md px-5 mt-3" href="{{ url_for('auth.logout') }}" role="button" type="submit" >Log Out</a>
                  <a class="btn btn-outline-info btn-md px-5 mt-3" href="{{ url_for('auth.logout') }}" role="button" type="submit" >Delete Account</a>
                </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

<script src="{{ url_for('static', filename='/scripts/account.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
{% endblock %}