{% extends "main_layout.html" %}

{% block head_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_account.css') }}">

{% endblock %}

{% block body_content%}


<h1>Welcome to your account {{ user.first_name }}!</h1>

<section class="bg-image" style="padding-top: 80px; padding-bottom: 80px;">
   <div class="mask d-flex align-items-center h-100 gradient-custom-3">
     <div class="container h-100">
       <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-9 col-lg-7 col-xl-6">
           <div class="card_account bg-dark text-white">
             <div class="card-body p-5">
   
               <form style="display: flex; flex-direction: column; align-items: flex-start;">
   
                <div class="form-outline mb-4">
                  <p>Email: <span id="email">{{ user.email_address }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
 
                <div class="form-outline mb-4">
                  <p>Password: <span id="email">{{ user.password }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
               
                <div class="form-outline mb-4">
                  <p>Fist Name: <span id="email">{{ user.first_name }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
 
                <div class="form-outline mb-4">
                  <p>Last Name: <span id="email">{{ user.last_name }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>

                <div class="form-outline mb-4">
                  <p>Date of Birth: <span id="email">{{ user.dob }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
                 
                <div class="form-outline mb-4">
                  <p>Mail Recipoent: <span id="email">{{ user.mailing }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
                 
                <div class="form-outline mb-4">
                  <p>Start Date: <span id="email">{{ user.creation_date }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
 
                <div class="form-outline mb-4">
                  <p>Last Logged In: <span id="email">{{ user.last_login }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
               
                <div class="form-outline mb-4">
                  <p>PIN: <span id="email">{{ user.pin }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>                       
 
                <div class="form-outline mb-4">
                  <p>Subcription: <span id="email">{{ user.subscription }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>

                <div class="form-outline mb-4">
                  <p>Card Details: <span id="email">{{ user.cards }}</span></p>
                  <button class="btn btn-outline-info" class="edit-button" data-field="email">Edit</button>
                </div>
  
                 <div class="account_maintenance"  style="align-self: center;">
                  <a class="btn btn-outline-info btn-md px-5 mt-3" href="{{ url_for('auth.logout') }}" role="button" type="submit" >Log Out</a>
                  <a class="btn btn-outline-info btn-md px-5 mt-3" href="{{ url_for('auth.logout') }}" role="button" type="submit" >Delete Account</a>
                </div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

<script src="{{ url_for('static', filename='/scripts/account.js') }}"></script>
   
{% endblock %}