{% extends "main_layout.html" %}

<!-- Stylesheet-->

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_careers.css') }}" rel="stylesheet" >

{% endblock %}

<!--  Main page content-->

{% block body_content%}

    <!-- careers info -->

    <div class="container mt-5">
        <h1>Careers</h1>

        <div class="container_text border-top">
            <h4>Hey! Come work for us</h4>
        </div>

    <!-- search for jobs-->

    <div class="container px-5 my-5">
        <form id="contactForm">
            <div class="form-floating mb-3">
                <input class="form-control" id="job title" type="text" placeholder="Job Title"/>
                <label for="job title">Job Title</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="location" type="text" placeholder="Location"/>
                <label for="location">Location</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="expertise" aria-placeholder="Expertise">
                    <option value="Technical">Technical</option>
                    <option value="Account">Marketing</option>
                    <option value="Orders">Sales</option>
                    <option value="Payment">Finance</option>
                    <option value="Returns">Corporate</option>
                    <option value="Returns">All</option>
                </select>
                <label for="expertise">Expertise</label>
            </div>

            <div class="d-grid">
            </div>
        </form>
    </div>

{% endblock %}