{% extends "main_layout.html" %}

<!-- Stylesheet-->

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_careers.css') }}" rel="stylesheet" >

{% endblock %}

<!--  Main page content-->

{% block body_content%}

    <!-- careers info -->

    <div class="container mt-5">
        <h1>Careers</h1>

        <div class="container_text border-top">
            <h4>Hey! Come work for us</h4>
        </div>

    <!-- search for jobs-->

    <!-- <div class="container px-5 my-5">
        <form id="contactForm" method="POST" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input class="form-control" id="name" name="name" type="text" placeholder="Name" required/>
                <label for="name">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" required/>
                <label for="email">Email Address</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="jobTitle" name="jobTitle" type="text" placeholder="Job Title" required/>
                <label for="job title">Job Title</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="location" name="location" type="text" placeholder="Location" required/>
                <label for="location">Location</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="expertise" name="expertise" aria-placeholder="Expertise" required>
                    <option value="Technical">Technical</option>
                    <option value="Account">Marketing</option>
                    <option value="Orders">Sales</option>
                    <option value="Payment">Finance</option>
                    <option value="Returns">Corporate</option>
                    <option value="Returns">All</option>
                </select>
                <label for="expertise">Expertise</label>
            </div>

            <u>Please add your CV below:</u>
            <div class="input-group mb-3 pt-2">
                <input type="file" class="form-control" id="cvFile" name="cvFile" accept=".pdf,.doc,.docx,.odt" required data-max-size="1048576">
            </div>
            
            <div class="d-grid">
                <button class="btn btn-outline-info btn-outline-info" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
    </div> -->

    <div class="container px-5 my-5">
        <form id="careersForm" enctype="multipart/form-data" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
                {{ form.name(class_="form-control", placeholder_="Name") }} {{ form.name.label }}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.email(class_="form-control", placeholder_="EMail") }} {{ form.email.label }}
            </div>

            <div class="form-floating mb-3">
                {{ form.job_title(class_="form-control", placeholder_="Job Title") }} {{ form.job_title.label }}
            </div>

            <div class="form-floating mb-3">
                {{ form.location(class_="form-control", placeholder_="Location") }} {{ form.location.label }}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.expertise(class_="form-select") }} {{ form.expertise.label }}
            </div>
    
            <u>Please add your CV below:</u>
            <div class="input-group mb-3 pt-2">
                {{ form.cv (class_="form-control")}}
                {% for error in form.cv.errors %}
                    <small class="text-danger">{{ error }}</small>  
                {% endfor %}
            </div>

            <div class="d-grid">
                {{ form.submit(class_="btn btn-outline-info btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock %}