{% extends "main_layout.html" %}

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_contactus.css') }}" rel="stylesheet" >

{% endblock %}

{% block body_content%}

    <!-- contact us method -->

    <div class="container mt-5">
        <h1>Contact Us</h1>
        <div class="container_text border-top">
            <p>Have a question or comment? Or just feeling lonely? We'd love to hear from you! Send us good vibes below</p>
            <p>Or, if you're feeling more direct, slide into the personals:</p>
            <ul class="no-bullets">
                <li>Phone: 0800 987 123</li>
                <li>Email: info@retroflix.com</li>
            </ul>
        </div>
    </div>
    <!-- Contact Form -->

    <div class="container px-5 my-5">
        <form id="contactForm">
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Name"/>
                <label for="name">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="emailAddress" type="email" placeholder="Email Address"/>
                <label for="emailAddress">Email Address</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
                <label for="message">Message</label>
            </div>

            <div class="d-grid">
                <button class="btn btn-outline-info btn-outline-info" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}
