{% extends "main_layout.html" %}

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_corp_info.css') }}" rel="stylesheet" >

{% endblock %}

{% block body_content %}

    <!-- Corporate Information-->

    <div class="container mt-5">
        <h1>Corporate Guide</h1>
        <div class="container_text border-top">
            <h5>Corporate Headquarters</h5>
            <p>Our corporate headquarters is located in London, UK:</p>
            <p>Retroflix<br>
            1234 Sky Road<br>
            London, UK<br>
            W1 1ST<br>
            <br>
            Phone: 0800 123 4567</p>

            <h5>Management Team</h5>
            <p>Our management team is made up of experienced professionals who are passionate about classic movies and TV shows:</p>
            <ul>
	            <li>Max Zimmer, CEO</li>
	            <li>Joseph Markou, CFO</li>
	            <li>Aeoleon Rankine, CTO</li>
	            <li>Lauren Renwick, Head of Content</li>
	            <li>David Brent, Head of Marketing</li>
            </ul>

            <h5>Investor Relations</h5>
            <p>For investor relations inquiries, please contact us at investorrelations@retroflix.com.</p>

            <h5>Careers</h5>
            <p>We are always looking for talented individuals to join our team. For career opportunities, please visit our Careers page.</p>

            <h5>Media Inquiries</h5>
            <p>For media inquiries, please contact us at media@retroflix.com.</p>
        </div>
    </div>

   
    <script src="{{ url_for('static', filename='/scrips/scripts.js') }}"></script>
    
{% endblock %}
