{% extends "main_layout.html" %}

{% block head_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_account.css') }}">

{% endblock %}

{% block body_content%}

<h1>Edit details here, {{ user.first_name }}</h1>

<section class="bg-image" style="padding-top: 80px; padding-bottom: 80px;">
   <div class="mask d-flex align-items-center h-100 gradient-custom-3">
     <div class="container h-100">
       <div class="row d-flex justify-content-center align-items-center h-100">
         <div class="col-12 col-md-9 col-lg-7 col-xl-6">
           <div class="card_account bg-dark text-white">
             <div class="card-body p-5">
   
                <form method="POST">
                    {% for field, label in fields.items() %}
                      <label for="{{ field }}">{{ label }}</label>
                      {% if field == 'mailing' %}
                        <input type="checkbox" name="{{ field }}" value="1" {% if user[field] %}checked{% endif %}>
                      {% elif field == 'subscription' %}
                        <select name="subs-select">
                          {% for sub in subscriptions %}
                            <option value="{{ sub.sub_type }}" {% if user.subscription.sub_type == sub.sub_type %}selected{% endif %}>{{ sub.sub_type }}</option>
                          {% endfor %}
                        </select>
                      {% else %}
                        <input type="{{ field_types[field] }}" name="{{ field }}" value="{{ user[field] }}">
                      {% endif %}
                    {% endfor %}
                  
                    <button class="btn btn-outline-info" type="submit">Save Changes</button>
                </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>













 <script src="{{ url_for('static', filename='/scripts/sign_up.js') }}"></script>

<!-- Can include additional scripts as well-->
{% endblock %}