{% extends "main_layout.html" %}

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_faq.css') }}" rel="stylesheet" >

{% endblock %}

{% block body_content %}

    <!-- FAQs-->

    <div class="container mt-5">
        <h1>Frequently Asked Questions</h1>
        <div class="container_text border-top">
            <h5>What is RetroFlix?</h5>
            <p>RetroFlix is a streaming platform that specializes in retro films and TV shows. We offer a wide variety of classic movies and TV shows from the 20th century.</p>
        
            <h5>How do I sign up for RetroFlix?</h5>
            <p>Signing up for RetroFlix is easy! Simply visit our website and click on the "Sign Up" button. You'll be asked to provide some basic information and payment details, and then you'll be ready to start watching.</p>
        
            <h5>Can I watch RetroFlix on my TV?</h5>
            <p>Yes! You can watch RetroFlix on your TV using a variety of devices, including Roku, Amazon Fire TV, Apple TV, and more.</p>
        
            <h5>How does renting a movie work?</h5>
            <p>Renting a movie from RetroFlix is simple. Just browse our selection of available titles and choose the one you want to rent. We'll deliver it to your door, along with any additional items you've selected. When you're done watching, simply return the movie in the prepaid envelope provided.</p>
        
            <h5>What kind of merchandise will RetroFlix offer in the future?</h5>
            <p>We're constantly expanding our selection of retro film and TV-related merchandise. Some examples of items we may offer in the future include vintage movie posters, classic TV show t-shirts, and other collectibles.</p>
        
            <h5>How much does RetroFlix cost?</h5>
            <p>We offer a variety of subscription plans to fit your budget. Our plans start at £9.99 per month, and include unlimited access to our streaming library. Renting individual movies is priced separately.</p>

            <h5>Can I cancel my RetroFlix subscription at any time?</h5>
            <p>Yes! You can cancel your RetroFlix subscription at any time, with no additional fees or charges. Simply log in to your account and click on the "Cancel Subscription" button.</p>
        </div>
    </div>

{% endblock %}