{% extends "main_layout.html" %}

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_film.css') }}" rel="stylesheet" >
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/back_to_top.css') }}" >

{% endblock %}

{% block body_content%}
    <!-- movie cards placeholder-->
  
    <section class="movies p-5" id="movies">
        <h3>Sci-fi</h3>
        <div class="container_scifi">
            <div class="row">

                <div class="col-md-2">
                    <div class="card_1">
                        <a href="{{ url_for('film_player', name='Jurassic Park') }}" class="btn-btn-link"  onmouseover="showtitle('Jurassic_Park')" onmouseout="hidetitle('Jurassic_Park')">
                        <img id="Jurassic_Park" src="{{ url_for('static', filename='assets/Film_Posters/Jurassic_Park.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_Jurassic_Park" style="display:none;">Jurassic Park</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a href="{{ url_for('film_player', name='Gremlins') }}" class="btn-btn-link"  onmouseover="showtitle('gremlins')" onmouseout="hidetitle('gremlins')">
                        <img id="gremlins" src="{{ url_for('static', filename='assets/Film_Posters/Gremlins.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_gremlins" style="display:none;">Gremlins</p>                       
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a href="{{ url_for('film_player', name='Ghostbusters') }}" class="btn-btn-link"  onmouseover="showtitle('ghostbusters')" onmouseout="hidetitle('ghostbusters')">
                        <img id="ghostbusters" src="{{ url_for('static', filename='assets/Film_Posters/ghostbusters.png') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_ghostbusters" style="display:none;">Ghostbusters</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a href="{{ url_for('film_player', name='E T the Extra Terrestrial') }}" class="btn-btn-link"  onmouseover="showtitle('e_t')" onmouseout="hidetitle('e_t')">
                        <img id="e_t" src="{{ url_for('static', filename='assets/Film_Posters/e_t.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_e_t" style="display:none;">E.T. Extra Terrestrial</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a href="{{ url_for('film_player', name='Blade Runner') }}" class="btn-btn-link"  onmouseover="showtitle('blade_runner')" onmouseout="hidetitle('blade_runner')">
                        <img id="blade_runner" src="{{ url_for('static', filename='assets/Film_Posters/blade_runner.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_blade_runner" style="display:none;">Blade Runner</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a href="{{ url_for('film_player', name='The Terminator') }}" class="btn-btn-link"  onmouseover="showtitle('the_terminator')" onmouseout="hidetitle('the_terminator')">
                        <img id="the_terminator" src="{{ url_for('static', filename='assets/Film_Posters/the_terminator.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_the_terminator" style="display:none;">Terminator</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>Romance</h3>
        <div class="container_romance">
            <div class="row">
                <div class="col-md-2">
                    <div class="card_1">
                        <a class="btn-btn-link"  onmouseover="showtitle('when_harry_met_sally')" onmouseout="hidetitle('when_harry_met_sally')">                     
                        <img id="when_harry_met_sally" src="{{ url_for('static', filename='assets/Film_Posters/when_harry_met_sally.webp') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_when_harry_met_sally" style="display:none;">When Harry Met Sally</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a class="btn-btn-link"  onmouseover="showtitle('sleepless_in_seattle')" onmouseout="hidetitle('sleepless_in_seattle')">
                        <img id="sleepless_in_seattle" src="{{ url_for('static', filename='assets/Film_Posters/sleepless_in_seattle.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_sleepless_in_seattle" style="display:none;">Sleepless in Seattle</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a href="#" class="btn-btn-link"  onmouseover="showtitle('pretty_woman')" onmouseout="hidetitle('pretty_woman')">
                        <img id='pretty_woman' src="{{ url_for('static', filename='assets/Film_Posters/pretty_woman.webp') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_pretty_woman" style="display:none;">Pretty Woman</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a class="btn-btn-link"  onmouseover="showtitle('overboard')" onmouseout="hidetitle('overboard')">
                        <img id="overboard" src="{{ url_for('static', filename='assets/Film_Posters/overboard.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_overboard" style="display:none;">Overboard</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a class="btn-btn-link"  onmouseover="showtitle('heathers')" onmouseout="hidetitle('heathers')">
                        <img id="heathers" src="{{ url_for('static', filename='assets/Film_Posters/heathers.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_heathers" style="display:none;">Heathers</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a class="btn-btn-link"  onmouseover="showtitle('the_wedding_singer')" onmouseout="hidetitle('the_wedding_singer')">
                        <img id="the_wedding_singer" src="{{ url_for('static', filename='assets/Film_Posters/the_wedding_singer.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_the_wedding_singer" style="display:none;">The Wedding Singer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>Action</h3>
        <div class="container_action">
            <div class="row">
                <div class="col-md-2">
                    <div class="card_1">
                        <a class="btn-btn-link"  onmouseover="showtitle('tango_and_cash')" onmouseout="hidetitle('tango_and_cash')">
                        <img id="tango_and_cash" src="{{ url_for('static', filename='assets/Film_Posters/tango_and_cash.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_tango_and_cash" style="display:none;">Tango and Cash</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a class="btn-btn-link"  onmouseover="showtitle('demolition_man')" onmouseout="hidetitle('demolition_man')">
                        <img id="demolition_man" src="{{ url_for('static', filename='assets/Film_Posters/demolition_man.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_demolition_man" style="display:none;">Demolition Man</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a class="btn-btn-link"  onmouseover="showtitle('die_hard')" onmouseout="hidetitle('die_hard')">
                        <img id="die_hard" src="{{ url_for('static', filename='assets/Film_Posters/die_hard.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_die_hard" style="display:none;">Die Hard</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a class="btn-btn-link"  onmouseover="showtitle('running_man')" onmouseout="hidetitle('running_man')">
                        <img id="running_man" src="{{ url_for('static', filename='assets/Film_Posters/running_man.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_running_man" style="display:none;">Running Man</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a class="btn-btn-link"  onmouseover="showtitle('rambo')" onmouseout="hidetitle('rambo')">
                        <img id="rambo" src="{{ url_for('static', filename='assets/Film_Posters/rambo.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_rambo" style="display:none;">Rambo</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a class="btn-btn-link"  onmouseover="showtitle('big_trouble_in_little_china')" onmouseout="hidetitle('big_trouble_in_little_china')">
                        <img id="big_trouble_in_little_china" src="{{ url_for('static', filename='assets/Film_Posters/big_trouble_in_little_china.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_big_trouble_in_little_china" style="display:none;">Big Trouble in Little China</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>Horror</h3>
        <div class="container_horror">
            <div class="row">
                <div class="col-md-2">
                    <div class="card_1">
                        <a class="btn-btn-link"  onmouseover="showtitle('friday_the_13th')" onmouseout="hidetitle('friday_the_13th')">
                        <img id="friday_the_13th" src="{{ url_for('static', filename='assets/Film_Posters/friday_the_13th.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_friday_the_13th" style="display:none;">Friday The 13th</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a class="btn-btn-link"  onmouseover="showtitle('a_nightmare_on_elm_street')" onmouseout="hidetitle('a_nightmare_on_elm_street')">
                        <img id="a_nightmare_on_elm_street" src="{{ url_for('static', filename='assets/Film_Posters/a_nightmare_on_elm_street.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_a_nightmare_on_elm_street" style="display:none;">A Nightmare on Elm Street</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a class="btn-btn-link"  onmouseover="showtitle('halloween')" onmouseout="hidetitle('halloween')">
                        <img id="halloween" src="{{ url_for('static', filename='assets/Film_Posters/halloween.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_halloween" style="display:none;">Halloween</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a class="btn-btn-link"  onmouseover="showtitle('hellraiser')" onmouseout="hidetitle('hellraiser')">
                        <img id="hellraiser" src="{{ url_for('static', filename='assets/Film_Posters/hellraiser.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_hellraiser" style="display:none;">Hellraiser</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a class="btn-btn-link"  onmouseover="showtitle('scream')" onmouseout="hidetitle('scream')">
                        <img id="scream" src="{{ url_for('static', filename='assets/Film_Posters/scream.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_scream" style="display:none;">Scream</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a class="btn-btn-link"  onmouseover="showtitle('texas_chainsaw_massacre')" onmouseout="hidetitle('texas_chainsaw_massacre')">
                        <img id="texas_chainsaw_massacre" src="{{ url_for('static', filename='assets/Film_Posters/texas_chainsaw_massacre.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_texas_chainsaw_massacre" style="display:none;">Texas Chainsaw Massacre</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button onclick="topFunction()" id="back-to-top" title="Go to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
  
<script src="{{ url_for('static', filename='/scripts/back_to_top.js') }}"></script>
<script src="{{ url_for('static', filename='/scripts/film.js') }}"></script>

{% endblock %}