{% extends "main_layout.html" %}

{% block head_content %}

<link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_account.css') }}">

{% endblock %}

{% block body_content%}

<section class="bg-image" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card_account bg-dark text-white">
                        <div class="card-body p-5">
                            <div class="header">
                            <h2>Reset Password</h2>
                            <p>Please enter correct details below.</p>
                            </div>
                            <hr>
                            <form method="POST">
                                <div class="form-outline mb-4">
                                    <label for="email_address" class="form-label">Email Address:</label>
                                    <input type="email" placeholder="*required" id="email_address" class="form-control" name="email_address" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="pin" class="form-label">PIN:</label>
                                    <input type="password" placeholder="*required" id="pin" class="form-control" name="pin" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="new_password" class="form-label">New Password:</label>
                                    <input type="password" placeholder="*required" id="new_password" class="form-control" name="new_password" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <label for="confirm_password" class="form-label">Confirm Password:</label>
                                    <input type="password" placeholder="*required" id="confirm_password" class="form-control" name="confirm_password" required>
                                </div>
                                <div class="form-outline mb-4">
                                    <button type="submit" class="btn btn-outline-info">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Can include additional scripts as well-->
{% endblock %}