{% extends "main_layout.html" %}

{% block head_content %}
<link href="{{ url_for('static', filename='/styles/styles_help.css') }}" rel="stylesheet" >
{% endblock %}

{% block body_content%}
    <!-- Help Qs -->

    <div class="container mt-5">
        <h1>Customer Support</h1>
        <div class="container_text border-top">
            <h5>How do I report a problem with streaming?</h5>
            <p>If you're experiencing issues with streaming on RetroFlix, please try the following troubleshooting steps:</p>
                <ul>
                    <li>Check your internet connection to ensure it's strong and stable</li>
                    <li>Restart your device and try streaming again</li>
                    <li>Clear your browser cache and cookies</li>
                </ul>
            <p>If the issue persists, please contact our customer support team for further assistance.</p>

            <h5>What should I do if my rental movie does not arrive?</h5>
            <p>If you have not received your rental movie within the expected delivery time, please contact our customer support team. We'll be happy to investigate and offer a solution, such as sending a replacement or providing a refund.</p>
    
            <h5>How do I return a rental movie?</h5>
            <p>To return a rental movie, simply use the prepaid envelope provided and drop it in the mail. Be sure to include all items included in your rental package. Once we receive the returned movie, we'll mark it as returned in your account.</p>
    
            <h5>What payment methods does RetroFlix accept?</h5>
            <p>We accept a variety of payment methods, including credit cards, PayPal, and gift cards. If you have any questions about payment options, please contact our customer support team.</p>
    
            <h5>What should I do if I forget my login information?</h5>
            <p>If you forget your login information, you can easily reset your password by clicking on the "Forgot Password" link on the login page. If you're still having trouble, please contact our customer support team for assistance.</p>
        </div>
    </div>

    <!-- Contact Form -->

    <div class="container px-5 my-5">
        <form id="helpForm" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
                {{ form.name(class_="form-control", placeholder_="Name") }} {{ form.name.label }}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.email(class_="form-control", placeholder_="EMail") }} {{ form.email.label }}
            </div>
    
            <div class="form-floating mb-3">
                {{ form.ticket_type(class_="form-select") }} {{ form.ticket_type.label }}
            </div>

            <div class="form-floating mb-3">
                {{ form.message(class_="form-control", placeholder_="Message", style_='height:150px') }} {{ form.message.label }}
            </div>
    
            <div class="d-grid">
                {{ form.submit(class_="btn btn-outline-info btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock %}
