<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_home.css') }}">
    <title>RetroFlix - Home</title>

</head>
<body>

    <!-- Top navbar -->

    <div id="navbar-placeholder"></div>

    <!--header, maybe a slogan or information-->
    <br>
    <div class="container_header mt-5">
      <div class="row gx-0 mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
            <img src="{{ url_for('static', filename='/assets/flam_right.png') }}" class="img-fluid" alt="">
            <h1 class='retro-font' class="my-4 mx-4">Retroflix</h1>
            <img src="{{ url_for('static', filename='/assets/flam_left.png') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <!--temporary carousel to get an idea of what the design will be-->
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='/assets/Shutterstock_tv.png') }}" class="d-block w-100 img-fluid" alt="..." style="max-height:400px; object-fit:contain;">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='/assets/Shutterstock_laptop.png') }}" class="d-block w-100 img-fluid" alt="..." style="max-height:400px; object-fit:contain;">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='/assets/Shutterstock_film.png') }}" class="d-block w-100 img-fluid" alt="..." style="max-height:400px; object-fit:contain;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Cookie Preferences Pop-up--> 
    <div class="card bg-dark text-white" style="border-radius: 1rem;"></div>
      <div id="cookiePopup" class="cookie_popup">
        <h1>Cookie Preferences</h1>
        <p>Please select your cookie preferences below:</p>
        <form id="cookieForm">
          <!-- Checkbox options go here--> 
          <button type="submit">Save Preferences</button>
        </form>
      </div>
   

   <!-- Footer -->
    
   <div id="footer-placeholder"></div>
   
   <!-- JavaScript -->
   <script src="{{ url_for('static', filename='/scripts/scripts.js') }}"></script>
   <script src="{{ url_for('static', filename='/scripts/home.js') }}"></script>

   <!-- Popper.js, and Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</body>
</html>
