{% extends "main_layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_home.css') }}">
{% endblock %}

{% block body_content%}

    <!--header, maybe a slogan or information-->
    <div class="container_header">
      <div class="row gx-0 mt-4">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-left">
            <h1>Welcome home, {{user.first_name}}!</h1>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>

    <!--temporary carousel to get an idea of what the design will be-->
    <div class="title">
      <div class="row gx-0 mt-4">
        <div class="col-md-1"></div>
          <div class="col-md-10 text-left">
            <h4>Top Picks</h4>
              <div id="carousel-top_pick" class="carousel slide" data-bs-pause="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel-top_pick" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel-top_pick" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel-top_pick" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carousel-top_pick" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a  href="{{ url_for('film')}}">
                    <img src="{{ url_for ('static', filename='/assets/et_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>E.T: Extra Terrestrial</h5>
                      <p>1982</p>
                    </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a  href="{{ url_for('series')}}">
                    <img src="{{ url_for ('static', filename='/assets/friends_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>Friends</h5>
                      <p>Seasons 1-3</p>
                    </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a  href="{{ url_for('film')}}">
                    <img src="{{ url_for ('static', filename='/assets/die_hard_carousel.jpeg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>Die Hard</h5>
                      <p>1990</p>
                    </div>
                  </a>
                  </div>
                  <div class="carousel-item">
                    <a  href="{{ url_for('series')}}">
                    <img src="{{ url_for ('static', filename='/assets/golden_girls_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>The Golden Girls</h5>
                      <p>Seasons 1-3</p>
                    </div>
                    </a>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-top_pick" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-top_pick" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>

    <div class="title">
      <div class="row gx-0 mt-4">
        <div class="col-md-1"></div>
          <div class="col-md-10 text-left">
            <h4>Staff Recommendations</h4>
              <div id="carousel-staff" class="carousel slide" data-bs-pause="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel-staff" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel-staff" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel-staff" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carousel-staff" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a  href="{{ url_for('film')}}">
                    <img src="{{ url_for ('static', filename='/assets/when_harry_met_sally_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>When Harry met Sally</h5>
                      <p>1989</p>
                    </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a  href="{{ url_for('series')}}">
                    <img src="{{ url_for ('static', filename='/assets/absolutely_fabulous_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>Absolutely fabulous</h5>
                      <p>Seasons 1-3</p>
                    </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a  href="{{ url_for('film')}}">
                    <img src="{{ url_for ('static', filename='/assets/ghostbusters_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>Ghostbusters</h5>
                      <p>1984</p>
                    </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a  href="{{ url_for('series')}}">
                    <img src="{{ url_for ('static', filename='/assets/baywatch_carousel.jpg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption">
                      <h5>Baywatch</h5>
                      <p>Seasons 1-3</p>
                    </div>
                    </a>
                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-staff" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-staff" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
    <!--Cookie Preferences Pop-up--> 

    <div id="cookieAllow" class="cookie_popup bg-dark text-white text-center" style="height:460px; width:1000px; margin:auto;">
      <h2>Cookie Preferences</h2>
      <p>We use cookies, pixels, tags, and similar technologies to collect personal data about your watching habits.</p>
      <p>These help us collect info about you so we can keep making our website better, offer personalized content and keep things fresh.</p>
      <p>For more information please view our <a href="{{ url_for('legal_notice') }}" class="text-info fw-bold">Cookie Policy</a></p>
      <p>By clicking "Accept and continue", you agree to our use of cookies categorised by Analytics and Marketing.</p>
      <form id="cookieForm_allow">
        <div>
          <button class="btn btn-outline-info btn-md px-5" id="allowCheckbox" name="allow" type="submit">Accept and Continue</button>
        </div>  
      </form>
      <button class="btn btn-outline-info btn-md px-5 mt-3" id="manageCookiesButton">Manage Cookies</button>
      <div id="manageCookies" style="display: block;">
        <form id="cookieForm_manage">
          <div>
            <input type="checkbox" id="analyticsCheckbox" name="analytics">
            <label for="analyticsCheckbox">Analytics Cookies</label>
          </div>
          <div>
            <input type="checkbox" id="marketingCheckbox" name="marketing">
            <label for="marketingCheckbox">Marketing Cookies</label>
          </div>
          <button class="btn btn-outline-info btn-md px-5" type="submit">Save Preferences</button>
        </form>
      </div>
    </div>
 
   <script src="{{ url_for('static', filename='/scripts/home.js') }}"></script>

{% endblock %}
