{% extends "main_layout.html" %}

{% block head_content %}
    <!-- Index style sheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles_index.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/back_to_top.css') }}" >


    <style>

        .content-example {
            padding-top: 65vh;
        }

        .merch-example {
            padding-top: 60vh;
        }

        .FAQs {
            padding-top: 60vh;
        }

        #sign_up_btn {
            display: none;
        }

    </style>
{% endblock %}

{% block navbar %}
    
    <!-- Top navbar -->

    <nav class="navbar fixed-top navbar-expand-sm" style="background-color: #00000000;">
        <div class="container-fluid">

            <!-- This needs linked to a working shop page-->
            <a class="btn btn-info" href="shop_main.html" role="button" id="shop_main_btn">Go to shop</a>

            <div class="mr-auto"></div> 
            <div class="d-flex">
                <a class="btn btn-info me-3" href="{{ url_for('sign_up') }}" role="button" id="sign_up_btn">Sign Up</a>
                <a class="btn btn-outline-info" href="{{ url_for('sign_in') }}" role="button" id="sign_in_btn">Sign In</a>   
            </div>     
        
        </div>
    </nav>
{% endblock %}

{% block body_content %}
    <!-- Landing Page Content-->

    <!-- First block -->
    
    <section class="landing mt-5" id="landing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <h1 class="retro-font text-center" style="font-size: calc(2em + 6vw)">RetroFlix</h1>
                    <p class="lead text-center" style="font-size: calc(1em + 1.5vw); font-weight: bold;">Welcome to the home of retro entertainment!</p>
                    <p style="font-size: calc(1em + 1vw); font-weight: bold;">Enter your email to create your free account today:</p>
                    <form>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email address" aria-label="Email address" aria-describedby="button-addon2">
                            <button class="btn btn-info" type="submit" id="button-addon2" style="font-size: calc(0.5em + 1vw); font-weight: bold;" formaction="{{ url_for('sign_up') }}">Sign Up</button>
                        </div>
                    </form>
                    <p style="font-size: calc(0.5em + 1vw); font-weight: bold;">Join our 31-day rolling plan, or sign up for 12 months for the best value deal, and enjoy our huge catalogue of retro films and TV series.</p>
                </div>
            </div>
        </div>
    </section>

      
    <!-- Second Block -->

    <section class="content-example" id="content-example" style="text-align: center;">
        <div class="container-fluid">
            <h1>Sign up to your monthly subscription</h1>
            <br>
            <h2><small>Gain access to award-winning content right away!</small></h2>
            <br>
            <div class="grid">
                <div class="row justify-content-center">
                    <div class="col-md-2">
                        <div class="card_1">
                            <img src="{{ url_for('static', filename='/assets/series_Posters/knight.jpg') }}" alt="knight Rider series Poster" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card_2">
                            <img src="{{ url_for('static', filename='/assets/film_Posters/E_T_film_poster.jpg') }}" alt="E T the extra terrestrial Film Poster" class="img-fluid">                 
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card_3">
                            <img src="{{ url_for('static', filename='/assets/film_Posters/ghostbusters_film_poster.png') }}" alt="Ghostbusters Film Poster" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card_4">
                            <img src="{{ url_for('static', filename='/assets/film_Posters/die.jpg') }}" alt="Die Hard Film Poster" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card_5">
                            <img src="{{ url_for('static', filename='/assets/film_Posters/Jurassic_Park_film_poster.jpg') }}" alt="Jurassic Park Film Poster" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>

    <!-- Third Block -->

    <section class="device-example" id="device-example">
        <div class="container-fluid">
            <div class="text-center">
                <h1>Choose what suits you</h1>
                <br>
                <h2><small>Watch our award-winning content on your preferred device</small></h2>
                <br>
            </div>
            <div class="text-center">
                <img src="{{ url_for('static', filename='/assets/device_options.png') }}" class="img-fluid" style="width: 60%;" alt="Device Options">
            </div>

        </div>    
    </section>

<!-- Fourth Block -->

    <section class="subs" id="subs">
        <h1>Watch anywhere. At any time</h1>
                <br>
                <h2><small>Chose your retro package, with a retro price!</small></h2>
                <br>
        <div class="subs-container">
            <div class="card_sub">
                <h2 style="font-weight: bold;">Monthly</h2><h5>Rolling subscription</h5>
                <br>
                <h1 style="font-weight: bold; border-bottom: 3px solid #ff66ff;">£4.99</h1>
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{{ url_for('legal_notice')}}">Click here for T&C's</a></p>
                <a class="btn btn-outline-info me-3" href="{{ url_for('sign_up') }}" role="button" id="">Select</a>
            </div>
            <div class="card_sub">
                <h2 style="font-weight: bold;">Yearly</h2><h5>12 months</h5>
                <br>
                <h1 style="font-weight: bold; border-bottom: 3px solid #ff66ff;">£49.99</h1>
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{{ url_for('legal_notice')}}">Click here for T&C's</a></p>
                <div>
                    <a class="btn btn-outline-info me-3" href="{{ url_for('sign_up') }}" role="button" id="">Select</a>
                </div>
            </div>
        </div>   
    </section>

<!-- Fifth Block -->

    <section class="FAQs" id="FAQs">
        <div class="container-fluid">
            <div class="text-center">
                <h1>Frequently Asked Questions</h1>
                <br>
                <br>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushFAQs" style="width: 75%; margin: 0 auto;">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: #0e0f1b; color: white;">
                        <h5>What is RetroFlix?</h5>
                    </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushFAQs" style="background-color: #0e0f1bcf; color: white;">
                        <div class="accordion-body">RetroFlix is a streaming platform that specializes in retro films and TV shows. We offer a wide variety of classic movies and TV shows from the 20th century.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: #0e0f1b; color: white;">
                        <h5>How do I sign up for RetroFlix?</h5>
                    </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushFAQs" style="background-color: #0e0f1bcf; color: white;">
                        <div class="accordion-body">Signing up for RetroFlix is easy! Simply visit our website and click on the "Sign Up" button. You'll be asked to provide some basic information and payment details, and then you'll be ready to start watching.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree" style="background-color: #0e0f1b; color: white;">
                        <h5>Can I watch RetroFlix on my TV?</h5>
                    </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushFAQs" style="background-color: #0e0f1bcf; color: white;">
                        <div class="accordion-body">Yes! You can watch RetroFlix on your TV using a variety of devices, including Roku, Amazon Fire TV, Apple TV, and more.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour" style="background-color: #0e0f1b; color: white;">
                        <h5>How much does RetroFlix cost?</h5>
                    </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushFAQs" style="background-color: #0e0f1bcf; color: white;">
                        <div class="accordion-body">We like to keep things simple, just like the god old days! We offer a monthly subscription for £4.99 or a bulked out yearly subscriptions for £49.99 (save 2 months!). Both include unlimited access to our streaming library. Renting individual movies is priced separately.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  

    <button onclick="topFunction()" id="back-to-top" title="Go to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>


    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='/scripts/back_to_top.js') }}"></script>


    <script>
        // Show the "Sign Up" button when the user has scrolled past the first section
        window.addEventListener("scroll", function() {
            var sign_up_btn = document.getElementById("sign_up_btn");
            if (window.scrollY > 500) {
                sign_up_btn.style.display = "block";
            } else {
                sign_up_btn.style.display = "none";
            }
        });

    </script>
{% endblock %}