{% extends "main_layout.html" %}

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_legal.css') }}" rel="stylesheet" >
{% endblock %}

{% block body_content%}
    <!-- Legal Notice-->

    <div class="container mt-5">
        <h1>Legal Notice</h1> 
        <div class="container_text border-top">
            <h5>Terms and Conditions</h5>
            <p>Welcome to RetroFlix, the video streaming website operated by MJAL Inc. By accessing or using Retroflix, you agree to be bound by the following terms and conditions. Please read them carefully before using our services.</p>
            
            <h5>1. Use of Our Services</h5>                
            <p> Our services are intended for personal, non-commercial use only. You may not use our services for any illegal or unauthorized purpose, and you agree to comply with all applicable laws and regulations. We reserve the right to terminate or suspend your access to our services at any time, without notice, for any reason.</p>
               
            <h5>2. Intellectual Property Rights</h5>               
            <p>All content on RetroFlix, including but not limited to videos, text, graphics, logos, images, and software, is the property of MJAL Inc. or its content suppliers and is protected by international copyright laws. You may not reproduce, modify, distribute, or otherwise use any of the content without our prior written consent.</p>
                
            <h5>3. User Conduct</h5>               
            <p>You are solely responsible for your use of RetroFlix and for any content you upload, share, or display on our platform. You agree to use our services in a manner that does not violate any laws or regulations, or infringe upon the rights of any third party. We reserve the right to remove any content that we believe violates these terms and conditions.</p>               
            
            <h5>4. Limitation of Liability</h5>                
            <p>MJAL Inc. shall not be liable for any direct, indirect, incidental, special, or consequential damages arising from your use of Retroflix or the inability to use our services, including but not limited to damages for loss of profits, data, or other intangible losses. You agree to indemnify and hold RetroFlix harmless from any claims, damages, or expenses arising from your use of our services.</p>
                
            <h5>5. Changes to the Terms and Conditions</h5>               
            <p>We reserve the right to modify or update these terms and conditions at any time, without notice. Your continued use of Retroflix after any such changes constitutes your acceptance of the new terms and conditions.</p>
                
            <h5>6. Governing Law and Jurisdiction</h5>              
            <p>These terms and conditions shall be governed by and construed in accordance with the laws of the United Kingdom and Nothern Ireland. Any disputes arising from your use of Retroflix shall be subject to the exclusive jurisdiction of the courts in London, United Kingdom and Norther Ireland.</p>
                
            <p>If you have any questions or concerns about these terms and conditions, please contact us at info@retroflix.com.</p>
                
            <p>Last updated: 01/04/2023</p>
            <br>
            <h5>Cookie Policy</h5>
            <p>This Cookie Policy explains how RetroFlix ("we", "us", or "our") uses cookies on our website (www.retroflix.com) ("Website"). By using our Website, you acknowledge that you have read and understood this Cookie Policy.</p>

            <h5>What are cookies?</h5>
            <p>Cookies are small text files that are placed on your device (computer, tablet, or mobile device) when you visit a website. They are widely used to improve website functionality, enhance user experience, analyze website traffic, and serve targeted advertisements.</p>

            <h5>Types of cookies used</h5>
            <ul>
                <li><strong>Essential cookies:</strong> These cookies are necessary for the functioning of our Website and cannot be disabled. They are usually set in response to your actions, such as setting your privacy preferences or logging in to your account.</li>
                <li><strong>Functional cookies:</strong> These cookies allow us to remember your preferences, such as language or region, and customize your experience on our Website.</li>
                <li><strong>Analytical cookies:</strong> These cookies help us understand how users interact with our Website by collecting anonymous data for statistical analysis.</li>
                <li><strong>Third-party cookies:</strong> Our Website may also use third-party cookies from service providers, such as analytics and advertising partners, to collect data and serve targeted advertisements. Please refer to the respective third-party privacy policies for more information on their cookie practices.</li>
            </ul>

            <h5>Consent to cookies</h5>
            <p>By using our Website, you consent to the use of cookies in accordance with this Cookie Policy. You can manage your cookie preferences by adjusting your browser settings to block or delete cookies. However, please note that blocking or deleting cookies may affect the functionality and performance of our Website.</p>

            <h5>Updates to the Cookie Policy</h5>
            <p>We may update this Cookie Policy from time to time to reflect changes in our cookie practices or applicable laws and regulations. The updated Cookie Policy will be posted on our Website with a revised effective date.</p>

            <h5>Contact us</h5>
            <p>If you have any questions or concerns about this Cookie Policy or our cookie practices, please contact us at [email address or contact form].</p>
        </div>
    </div>


    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='/scrips/scripts.js') }}"></script>

{% endblock %}
