{% extends "main_layout.html" %}

{% block head_content %}

<link href="{{ url_for('static', filename='/styles/styles_series.css') }}" rel="stylesheet" >
<link rel="stylesheet" href="{{ url_for('static', filename='/styles/back_to_top.css') }}" >

{% endblock %}

{% block body_content%}
    <!-- movie cards placeholder-->
  
    <section class="series p-5" id="series">
        <h3>Binge-Worthy</h3>
        <div class="container_binge_worthy">
            <div class="row">

                <div class="col-md-2">
                    <div class="card_1">
                        <a href="{{ url_for('series_player', name='Friends', episode='S1E1') }}" class="btn-btn-link"  onmouseover="showtitle('friends')" onmouseout="hidetitle('friends')">
                        <img id="friends" src="{{ url_for('static', filename='assets/Series_Posters/friends.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_friends" style="display:none;">Friends</p>                            
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a href="{{ url_for('series_player', name='Cheers', episode='S1E1') }}" class="btn-btn-link"  onmouseover="showtitle('cheers')" onmouseout="hidetitle('cheers')">
                        <img id="cheers" src="{{ url_for('static', filename='assets/Series_Posters/cheers.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_cheers" style="display:none;">Cheers</p>                                                  
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a href="{{ url_for('series_player', name='Frasier', episode='S1E1') }}" class="btn-btn-link"  onmouseover="showtitle('fraiser')" onmouseout="hidetitle('fraiser')">
                        <img id="fraiser" src="{{ url_for('static', filename='assets/Series_Posters/fraiser.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_fraiser" style="display:none;">Frasier</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a href="{{ url_for('series_player', name='Married With Children', episode='S1E1') }}" class="btn-btn-link"  onmouseover="showtitle('married_with_children')" onmouseout="hidetitle('married_with_children')">
                        <img id="married_with_children" src="{{ url_for('static', filename='assets/Series_Posters/married_with_children.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_married_with_children" style="display:none;">Married...With Children</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a href="{{ url_for('series_player', name='Golden Girls', episode='S1E1') }}" class="btn-btn-link"  onmouseover="showtitle('the_golden_girls')" onmouseout="hidetitle('the_golden_girls')">
                        <img id="the_golden_girls" src="{{ url_for('static', filename='assets/Series_Posters/the_golden_girls.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_the_golden_girls" style="display:none;">The Golden Girls</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a href="{{ url_for('series_player', name='Moonlighting', episode='S1E1') }}" class="btn-btn-link"  onmouseover="showtitle('moonlighting')" onmouseout="hidetitle('moonlighting')">
                        <img id="moonlighting" src="{{ url_for('static', filename='assets/Series_Posters/moonlighting.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_moonlighting" style="display:none;">Moonlighting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>Best of British</h3>
        <div class="container_best_of_british">
            <div class="row">
                <div class="col-md-2">
                    <div class="card_1">
                        <a class="btn-btn-link"  onmouseover="showtitle('blackadder')" onmouseout="hidetitle('blackadder')">                     
                        <img id="blackadder" src="{{ url_for('static', filename='assets/Series_Posters/blackadder.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_blackadder" style="display:none;">Blackadder</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a class="btn-btn-link"  onmouseover="showtitle('only_fools_and_horses')" onmouseout="hidetitle('only_fools_and_horses')">
                        <img id="only_fools_and_horses" src="{{ url_for('static', filename='assets/Series_Posters/only_fools_and_horses.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_only_fools_and_horses" style="display:none;">Only Fools and Horses</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a class="btn-btn-link"  onmouseover="showtitle('one_foot_in_the_grave')" onmouseout="hidetitle('one_foot_in_the_grave')">
                        <img id='one_foot_in_the_grave' src="{{ url_for('static', filename='assets/Series_Posters/one_foot_in_the_grave.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_one_foot_in_the_grave" style="display:none;">One Foot in the Grave</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a class="btn-btn-link"  onmouseover="showtitle('keeping_up_appearances')" onmouseout="hidetitle('keeping_up_appearances')">
                        <img id="keeping_up_appearances" src="{{ url_for('static', filename='assets/Series_Posters/keeping_up_appearances.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_keeping_up_appearances" style="display:none;">Keeping Up Appearances</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a class="btn-btn-link"  onmouseover="showtitle('men_behaving_badly')" onmouseout="hidetitle('men_behaving_badly')">
                        <img id="men_behaving_badly" src="{{ url_for('static', filename='assets/Series_Posters/men_behaving_badly.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_men_behaving_badly" style="display:none;">Men Behaving Badly</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a class="btn-btn-link"  onmouseover="showtitle('absolutely_fabulous')" onmouseout="hidetitle('absolutely_fabulous')">
                        <img id="absolutely_fabulous" src="{{ url_for('static', filename='assets/Series_Posters/absolutely_fabulous.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_absolutely_fabulous" style="display:none;">Absolutely Fabulous</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>American Classics</h3>
        <div class="container_american_classics">
            <div class="row">
                <div class="col-md-2">
                    <div class="card_1">
                        <a class="btn-btn-link"  onmouseover="showtitle('er')" onmouseout="hidetitle('er')">
                        <img id="er" src="{{ url_for('static', filename='assets/Series_Posters/er.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_er" style="display:none;">E.R</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a class="btn-btn-link"  onmouseover="showtitle('knight_rider')" onmouseout="hidetitle('knight_rider')">
                        <img id="knight_rider" src="{{ url_for('static', filename='assets/Series_Posters/knight_rider.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_knight_rider" style="display:none;">Knight Rider</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a class="btn-btn-link"  onmouseover="showtitle('magnum_p_i')" onmouseout="hidetitle('magnum_p_i')">
                        <img id="magnum_p_i" src="{{ url_for('static', filename= 'assets/Series_Posters/magnum_p_i.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_magnum_p_i" style="display:none;">Magnum P.I</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a class="btn-btn-link"  onmouseover="showtitle('miami_vice')" onmouseout="hidetitle('miami_vice')">
                        <img id="miami_vice" src="{{ url_for('static', filename='assets/Series_Posters/miami_vice.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_miami_vice" style="display:none;">Miami Vice</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a class="btn-btn-link"  onmouseover="showtitle('baywatch')" onmouseout="hidetitle('baywatch')">
                        <img id="baywatch" src="{{ url_for('static', filename='assets/Series_Posters/baywatch.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_baywatch" style="display:none;">Baywatch</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a class="btn-btn-link"  onmouseover="showtitle('dallas')" onmouseout="hidetitle('dallas')">
                        <img id="dallas" src="{{ url_for('static', filename='assets/Series_Posters/dallas.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_dallas" style="display:none;">Dallas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>Teen Dream</h3>
        <div class="container_teen_dream">
            <div class="row">
                <div class="col-md-2">
                    <div class="card_1">
                        <a class="btn-btn-link"  onmouseover="showtitle('saved_by_the_bell')" onmouseout="hidetitle('saved_by_the_bell')">
                        <img id="saved_by_the_bell" src="{{ url_for('static', filename='assets/Series_Posters/saved_by_the_bell.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_saved_by_the_bell" style="display:none;">Saved by the Bell</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_2">
                        <a class="btn-btn-link"  onmouseover="showtitle('buffy_the_vampire_slayer')" onmouseout="hidetitle('buffy_the_vampire_slayer')">
                        <img id="buffy_the_vampire_slayer" src="{{ url_for('static', filename='assets/Series_Posters/buffy_the_vampire_slayer.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_buffy_the_vampire_slayer" style="display:none;">Buffy the Vampire Slayer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_3">
                        <a class="btn-btn-link"  onmouseover="showtitle('dawsons_creek')" onmouseout="hidetitle('dawsons_creek')">
                        <img id="dawsons_creek" src="{{ url_for('static', filename='assets/Series_Posters/dawsons_creek.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_dawsons_creek" style="display:none;">Dawson's Creek</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_4">
                        <a class="btn-btn-link"  onmouseover="showtitle('beverly_hills_90210')" onmouseout="hidetitle('beverly_hills_90210')">
                        <img id="beverly_hills_90210" src="{{ url_for('static', filename='assets/Series_Posters/beverly_hills_90210.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_beverly_hills_90210" style="display:none;">Beverly Hills 90210</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_5">
                        <a class="btn-btn-link"  onmouseover="showtitle('kenan_and_kell')" onmouseout="hidetitle('kenan_and_kell')">
                        <img id="kenan_and_kell" src="{{ url_for('static', filename='assets/Series_Posters/kenan_and_kell.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_kenan_and_kell" style="display:none;">Kenan and Kell</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card_6">
                        <a class="btn-btn-link"  onmouseover="showtitle('the_fresh_prince_of_bel-air')" onmouseout="hidetitle('the_fresh_prince_of_bel-air')">
                        <img id="the_fresh_prince_of_bel-air" src="{{ url_for('static', filename='assets/Series_Posters/the_fresh_prince_of_bel-air.jpg') }}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body p-2">
                            <p id="title_the_fresh_prince_of_bel-air" style="display:none;">The Fresh Prince of Bel Air</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <button onclick="topFunction()" id="back-to-top" title="Go to top">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="45" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
  
<script src="{{ url_for('static', filename='/scripts/back_to_top.js') }}"></script>   
<script src="{{ url_for('static', filename='/scripts/series.js') }}"></script>
   
{% endblock %}
