{%  extends "main_layout.html" %}

{% block head_content %}
<link href="{{ url_for('static', filename='/styles/styles_sign_up.css') }}" rel="stylesheet" >
{% endblock %}

    <!-- Top navbar -->
{% block navbar %}
    <nav class="navbar fixed-top navbar-expand-sm" style="background-color: #00000000;">
      <div class="container-fluid" style="padding-left: 25px;">
          <a class="navbar-brand order-0" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='/Assets/logo_clear.png') }}" alt="RetroFlix" height="30">
          </a>
      </div>
    </nav>
{% endblock %}

{% block body_content%}

    <!-- Sign Up -->
    
<section class="bg-image" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card_sign_up bg-dark text-white">
            <div class="card-body p-5 text-center">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
  
              <form method="POST">
  
                <div class="form-outline mb-4">
                  <input type="text" id="first_name" name="first_name" class="form-control form-control-lg" />
                  <label class="form-label">First Name</label>
                  <div id="first-name-invalid" class="invalid-feedback">Please enter a valid first name.</div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="last_name" name="last_name" class="form-control form-control-lg" />
                  <label class="form-label">Last Name</label>
                  <div id="last-name-invalid" class="invalid-feedback">Please enter a valid last name.</div>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="date" id="dob" class="form-control form-control-lg" />
                  <label class="form-label">Date of Birth</label>
                  <div id="dob-invalid" class="invalid-feedback"> Please enter a valid date in the past.</div>
                </div>                       

                <div class="form-outline mb-4">
                  <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{ email }}"/>
                  <label class="form-label">Email</label>
                  <div id="email-invalid" class="invalid-feedback">Please enter a valid email address.</div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password" name="password" class="form-control form-control-lg" />
                  <label class="form-label">Password</label>
                  <div class="invalid-feedback">Please enter a password that is at least 8 characters long, contains at least one uppercase letter, one lowercase letter, one number, and one of the following special characters: !#$%&*+,-.:;=?@^_~</div>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="password_check" name="password_check" class="form-control form-control-lg" />
                  <label class="form-label">Repeat your password</label>
                  <div class="invalid-feedback">Your passwords don't match.</div>

                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="pin" name="pin" class="form-control form-control-lg" maxlength="4" />
                  <label class="form-label" for="pin">4 digit parental pin</label>
                  <div class="invalid-feedback">Please enter a pin.</div>
                </div>

                <div class="form-outline mb-4">
                  <select id="subs-select" class="form-select">
                    {% if sub == "" %}
                      <option value="default" selected>Select your subscription..</option>
                      <option value="monthly">Monthly £4.99/m</option>
                      <option value="yearly">Yearly £49.99/y</option>
                    {% elif sub == "monthly" %}
                      <option value="default">Select your subscription..</option>
                      <option value="monthly" selected>Monthly £4.99/m</option>
                      <option value="yearly">Yearly £49.99/y</option>
                    {% elif sub == "yearly" %}
                      <option value="default">Select your subscription..</option>
                      <option value="monthly">Monthly £4.99/m</option>
                      <option value="yearly" selected>Yearly £49.99/y</option>
                    {% endif %}
                  </select>
                  <label class="form-label">Subscription Option</label>
                  <div class="invalid-feedback">Please selected one of the available subscriptions.</div>
                </div>

                <!-- Card Details -->

                <div class="pb-1 " style="text-align: start; font-size: 1.5rem ;">Card details:</div>
                <div class="border-top pb-3"></div>
                
                <div class="form-outline mb-4">
                  <input type="text" id="cc-name" class="form-control form-control-lg" />
                  <label class="form-label">Full name on card</label>
                  <div class="invalid-feedback">Please enter a valid name.</div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="cc-number" class="form-control form-control-lg" placeholder="1234 5678 9012 3456" maxlength="19" />
                  <label class="form-label">Card number</label>
                  <div class="invalid-feedback">Please enter a valid card number.</div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-outline mb-4">
                      <input type="text" id="cc-expiry" class="form-control form-control-lg" placeholder="MM/YY" maxlength="5"/>
                      <label class="form-label">Card expiry date</label>
                      <div class="invalid-feedback">Please enter a valid expiry date.</div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline mb-4">
                      <input type="text" id="cc-cvv" class="form-control form-control-lg" maxlength="3" />
                      <label class="form-label">CVV</label>
                      <div class="invalid-feedback">Please enter a valid CVV.</div>
                    </div>
                  </div>
                </div>
                
                <!-- Tick boxes -->

                <div class="form-check d-flex mb-2" style="text-align: start; font-size: smaller;">
                  <input class="form-check-input me-2" type="checkbox" id="mail_list" name="mail_list" />
                  <label class="form-check-label">
                  Please tick if you <u>do not</u> wish to join the mailing list <a href="{{ url_for('terms_of_use') }}" class="text-white-50"><u>Terms of Use</u></a>
                  </label>
                </div>

                <div class="form-check d-flex mb-5" style="text-align: start; font-size: smaller;">
                  <input class="form-check-input me-2" type="checkbox" id="tc-confirm" />
                  <label class="form-check-label">
                  Please tick  to confirm you have read and understood our <a href="{{ url_for('terms_of_use') }}" class="text-white-50"><u>Terms of Use</u></a>
                  </label>
                </div>
  
                <!-- Sign up button -->

                <div class="d-flex justify-content-center">
                  <button class="btn btn-outline-info btn-lg px-5" type="submit" id="sign_up_btn" name="sign_up_btn">Sign Up</button>
                </div>
  
                <!-- Sign in redirect -->

                <p class="text-center mt-5 mb-0">Already have an account? <a href="{{ url_for('auth.sign_in') }}"class="text-info fw-bold" id="sign_in_redirect" name="sign_in_redirect" ><u>Sign in here.</u></a></p>  
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ url_for('static', filename='/scripts/sign_up.js') }}"></script>

{%  endblock %}