<!-- Copy and edit this page for new HTML page -->

{% extends "main_layout.html" %}

{% block head_content %}
<!-- Styles and CSS sheets in here -->
<link href="{{ url_for('static', filename='/styles/styles_stats.css') }}" rel="stylesheet" >
{% endblock %}

{% block body_content%}
<!--  Main page content-->  
<h1>Stats</h1>
    
<h2>Registered Users: {{ registered_users }}</h2>

<h2>Daily Logins:</h2>
<ul>
    {% for login in daily_logins %}
        <li>{{ login.date.strftime("%Y-%m-%d") }}: {{ login.count }}</li>
    {% endfor %}
</ul>

<h2>Most Watched Films (Last Week):</h2>
<ul>
    {% for film, view_count in most_watched_films_last_week %}
        <li>{{ film.title }}: {{ view_count }}</li>
    {% endfor %}
</ul>

<h2>Least Watched Films (Last Week):</h2>
<ul>
    {% for film, view_count in least_watched_films_last_week %}
        <li>{{ film.title }}: {{ view_count }}</li>
    {% endfor %}
</ul>


<h2>Most Watched Films (All Time):</h2>
<ul>
    {% for film in most_watched_films %}
        <li>{{ film.title }}: {{ film.views | length }}</li>
    {% endfor %}
</ul>

<h2>Least Watched Films (All Time):</h2>
<ul>
    {% for film in least_watched_films %}
        <li>{{ film.title }}: {{ film.views | length }}</li>
    {% endfor %}
</ul>



<!-- Can include additional scripts as well-->
{% endblock %}