<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/styles/styles_terms.css') }}" rel="stylesheet" >
    <title>RetroFlix - Terms of Use</title>

</head>
<body>

    <!-- Top navbar -->

    <div id="navbar-placeholder"></div>

    <!-- Terms of Use-->

    <div class="container mt-5">
        <h1>Terms of Use</h1>  
        <div class="container_text border-top">
            <h5>Welcome to RetroFlix</h5>
            <p>By accessing and using our website, you agree to be bound by the following terms of use. If you do not agree to these terms, please do not use our website.</p>
            </p>
            <h5>1. Content</h5>
            <p>All of the content on our website, including but not limited to videos, images, text, and audio, is owned by us or our licensors and is protected by copyright laws. You may not reproduce, distribute, modify, or otherwise use any of this content without our prior written consent.</p>
                
            <h5>2. User Conduct</h5>              
            <p>You agree to use our website only for lawful purposes and in a manner that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, our website by any third party. You are solely responsible for any content that you upload or post on our website and for any consequences that result from such content.</p>

            <h5>3. Account Registration</h5>               
            <p>In order to access certain features of our website, you may need to create an account. When creating an account, you agree to provide accurate and complete information about yourself. You are solely responsible for maintaining the confidentiality of your account information and for any activity that occurs under your account.</p>
                
            <h5>4. Disclaimer of Warranties</h5>               
            <p>Our website is provided on an "as is" and "as available" basis without any representations or warranties of any kind, express or implied. We do not warrant that our website will be uninterrupted or error-free, that defects will be corrected, or that our website or the servers that make it available are free of viruses or other harmful components.</p>

            <h5>5. Limitation of Liability</h5>
            <p>In no event shall we be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with your use of our website or your inability to use our website, whether based on warranty, contract, tort, or any other legal theory.</p>

            <h5>6. Indemnification</h5>
            <p>You agree to indemnify, defend, and hold us harmless from any claims, damages, losses, or expenses (including reasonable attorneys' fees) arising out of or in connection with your use of our website or your violation of these terms of use.</p>

            <h5>7. Governing Law</h5>
            <p>These terms of use shall be governed by and construed in accordance with the laws of Media and Culture. Any legal action or proceeding arising out of or in connection with these terms of use shall be brought exclusively in the courts of United Kingdom and Northern Ireland.</p>

            <h5>8. Changes to these Terms of Use</h5>
            <p>We may revise these terms of use at any time by updating this page. By using our website, you agree to be bound by the then-current version of these terms of use.
                If you have any questions or comments about these terms of use, please contact us at info@retroflix.com.</p>
        </div>
    </div>

    <!-- Footer -->
    
    <div id="footer-placeholder"></div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='/scrips/scripts.js') }}"></script>
    <!-- Popper.js, and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>