@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Monoton&display=swap');

.retro-font{
  font-family: 'Monoton', cursive;
  font-weight: 300;
  display: inline-block; 
  background: linear-gradient(to left, rgb(253, 2, 212), rgb(113, 122, 236), rgb(1, 221, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  background-image: url(../Assets/lounge.avif);
  height: auto; 
  background-position: top; 
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #0e0f1b;
  color: #fff;
}

.card_1 {
  border: 1px solid #39ff14; 
  box-shadow: 0 0 30px #39ff14; 
  height: 100%;
  width: 75%;
}

.card_2{
  border: 1px solid #ff9900; 
  box-shadow: 0 0 30px #ff9900;
  height: 100%;
  width: 75%;

}

.card_3{
  border: 1px solid #ff66ff; 
  box-shadow: 0 0 30px #ff66ff; 
  height: 100%;
  width: 75%;
}

.card_4{
  border: 1px solid #00ffff; 
  box-shadow: 0 0 30px #00ffff; 
  height: 100%;
  width: 75%;
}

.card_5{
  border: 1px solid #FFFF00; 
  box-shadow: 0 0 30px #FFFF00;
  height: 100%;
  width: 75%;
}

.subs{
  margin-top: 200px;
  border-top: 30px;
  padding-top: 30px;
  text-align: center;
}

.subs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0e0f1b;
  color: white;
}

.card_sub {
  text-align: center;
  border: 3px solid #00ffff; 
  box-shadow: 0 0 30px #00ffff;
  border-radius: 1rem;
  flex: 1 1 500px;
  margin: 10px;
  padding: 20px;
  max-height: fit-content;
  max-width:25%;

}